.s-form__item {
  &--horizontal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &--error {
    .s-input__wrapper{
      box-shadow: 0 0 0 1px #f56c6c inset;
    }
    margin-bottom: 0;
  }
  .error-message{
    margin-top: 2px;
    color: #f56c6c;
    font-size:12px
  }
  .s-form__label {
    align-self: flex-start;
    font-size:14px;

    &--vertical {
      padding-bottom: 8px;
    }

    &--sm {
      flex: 0 0 60px;
    }

    &--md {
      flex: 0 0 80px;
    }

    &--lg {
      flex: 0 0 130px;
    }

    &--start {
      text-align: left;
    }

    &--center {
      text-align: center;
    }

    &--end {
      text-align: end;
    }
  }
}

