@use "button-config";
@import "./button-base";
.s-btn {
  @include button-base;
  //导入type相关的样式
  @include button-variant(button-config.$type);
  // 导入size相关样式
  @include button-variant(button-config.$size);
  //导入hover等伪类
  @include button-variant(button-config.$pseudo,true);
}
