.s-tree {
  /* your component style */
  .rotating-icon{
    @keyframes rotating {
      0%{
        transform: rotate(0);
      }
      100%{
        transform: rotate(360deg);
      }
    }
    animation: rotating 2s linear infinite;
    color: #a8abb2;
  }
  .s-tree__node{
    &--content{
      border: 1px solid transparent;
    }
    &--drop-inner{
      border: 1px solid silver;
    }
    &--drop-next{
      border-bottom: 1px solid silver;
    }
    &--drop-prev{
      border-top: 1px solid silver;
    }
  }

}
