.s-tree {
  /* your component style */
  .rotating-icon{
    @keyframes rotating {
      0%{
        transform: rotate(0);
      }
      100%{
        transform: rotate(360deg);
      }
    }
    animation: rotating 2s linear infinite;
    color: #a8abb2;

  }

}
